

.navbars{
    width: 100px;
    background-color: grey;
}

.navbars a{
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 20px; /* Add some padding */
    transition: all 0.5s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 32px; /* Increased font-size */
}

.active{
    background-color: brown;
}

.navbars a:hover{
    background-color: black;
}